$white: #ffffff;
$light-gray: #dfdfdf;
$medium-gray: #9f9f9f;
$dark-gray: #323232;
$black: #000000;

$light-blue: #bdddf5;
$medium-blue: #4476f7;
$pink: #e0217d;
$yellow: #f5d747;

$link-color: $medium-blue;

.img {
    height: 200px;
    text-align: center;
    justify-self: center;
    align-self: center;
}